.App {
  text-align: center;
  background-color: rgb(190, 141, 77);
  height:900px;
  width:100%
}
h1 {
  color:brown;
}
#page{
  display:true;
}
.button{
  border: radius;
  cursor: pointer;
  width:100px;
}
.button1{
  width:100px;
}
.button:hover{
 background-color: blueviolet;
 color:rgb(29, 3, 53)
}
.count{
  font-size: larger;
  font-weight: 500;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

